@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<h1 class="display-4" style="text-align: center;">Despliegue Continuo</h1>
<h1 class="display-2" style="text-align: center;">Lanzamiento y configuraci&oacute;n del producto</h1>
</div>
<p></p>
<p></p>
<p></p>
<p><span style="font-weight: 400;">Master DevOps &amp; Cloud Computing</span></p>
<p></p>
<p>Equipo 3:</p>
 
<li>
<p><span style="font-weight: 400;">Andres Barquero Castillo</span></p>
</li>
<li>
<p><span style="font-weight: 400;">Josue Ulate Fallas</span></p>
</li>
<li>
<p><span style="font-weight: 400;">Luis Malanche Garcia</span></p>
</li>
<li>
<p><span style="font-weight: 400;">Mariano Rodriguez Diaz</span></p>
</li>
